{
  "presets": [
    [
      "@babel/preset-env",
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
      ["@babel/transform-runtime"]
  ]
}